@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;600&display=swap');
:root{
    --color-principal:#FF8303;
    --color-blanco:#fff;
    --font-letra-titulo:'Jost', sans-serif;
}

*,*::before, *::after{
    margin: 0;
    padding: 0;
    font-family: var(--font-letra-titulo);
    color: var(--color-blanco);
    box-sizing: border-box;
    overflow-x: none;
}
.contener_vacio{
    width: 100%;
    padding-top: 10px;
}
.separador{
    width: 100%;
    opacity: 0.3;
    margin-top: 10px;
}

body{
    background-image: url(../img/main.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

header nav{
    width: 50%;
    min-height: 20vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    animation: moverHorizontal 1s ease-in infinite alternate;
}
header nav .color-n{
    color: var(--color-principal);
}
header nav .color-n:hover{
    color:var(--color-blanco)
}
header nav a:hover{
    color:var(--color-principal);   
    transition: transform 0.4s ease;
}
main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.activar_opacidad{
    opacity: 1;
    transform: rotateX(0deg);
}
main .principal{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    min-height: 80vh;
    opacity: 0;
    transition: all 0.8s ease;
}

main .principal .mitad{
    width: 50%;
    display: flex;  
    justify-content: center;
    align-self: center;
    padding-left: 22px;
}
main .principal .mitad img{
    max-width: 500px;
    width: auto;
    transition: all 300ms;
    
}

main .principal .mitad h1{
    color: var(--color-blanco);
    font-size: 40px;
}
main .principal .mitad .titulos .color-n{
    color:var(--color-principal);
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.1;
    
}
main .principal .mitad .titulos .pie{
    font-size: 15px;
    text-align: right;
    margin-top: 8px;
    padding-bottom: 19px;
}

main .principal .color-n{
    color:var(--color-principal)
}

/*-------------------------------------------------------------------------------*/
/*--------------------------- MAIN SECUNDARIO ----------------------------------*/
/*-------------------------------------------------------------------------------*/

main .secundario{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.8s ease;
    padding-top: 22px;
    padding-bottom: 26px;
}
main .secundario .titulo{
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 22px;
}
main .secundario .portalofio_contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 11px;
    column-gap: 11px;
    
}
main .secundario .portalofio_contenedor .cuadro_proyecto{
    width: 100%;
    max-height: 500px;
    position: relative;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
    
}
main .secundario .portalofio_contenedor .cuadro_proyecto img{
    width: 100%;
    border-radius: 10px;
}
main .secundario .portalofio_contenedor .cuadro_proyecto .cuadro_titulo {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0;
    transition: 0.3s ease-in;
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 1px solid #ccc;
        }
}

main .secundario .portalofio_contenedor .cuadro_proyecto .cuadro_titulo a{
    font-size: 23px;
    color: #ccc;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in;
    &:hover{
        font-size: 24px;
    }

}


/*--------------------------------------------------*/
/*------------------ MAIN TERCERO ------------------*/
/*--------------------------------------------------*/
main .ternario{
    margin-top: 20px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.8s ease;
    background-color: rgba(0,0,0,0.4);
    padding-top: 22px ;
    padding-bottom: 26px;
}
main .ternario .contacto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 11px ;
}
main .ternario .contacto .titulo_contacto{
    font-size: 40px;
    margin-bottom: 40px;
}
main .ternario .contacto .contacto_unitario{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 25px;
    text-align: left;
}
main .ternario .contacto .contacto_unitario a{
    
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    font-variant: small-caps;
    transition: transform 0.6s ease; 
}
main .ternario .contacto .contacto_unitario a .img_container img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #ccc;

}
main .ternario .contacto .contacto_unitario .a_contacto{
    border-radius: 20px 5%;
    width: 210px;
    height: auto;
    padding: 10px;
}
main .ternario .contacto .contacto_unitario .a_img:hover{
    transition: transform 0.6s ease;
    transform: rotateZ(20deg);
    
}
main .ternario .contacto .contacto_unitario .whatsaap:hover{
    border: 1px solid #0C9021 ;
    background-color: black;
    color:#0C9021;
    transform: rotateZ(-5deg);
}
main .ternario .contacto .contacto_unitario .telegram:hover{
    border: 1px solid #088DB7 ;
    background-color: black;
    color:#088DB7;
    transform: rotateZ(-5deg)
}
main .ternario .contacto .contacto_unitario .facebook:hover{
    border: 1px solid #6c92f1 ;
    background-color: black;
    color:#6c92f1;
    transform: rotateZ(-5deg)
}
main .ternario .contacto .contacto_unitario .gmail:hover{
    border: 1px solid #DF0000 ;
    background-color: black;
    color:#DF0000;
    transform: rotateZ(-5deg);
}

main .ternario .contacto_adicional{
    width: 60%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .ternario .contacto_adicional img{
    max-width: 680px;
    border-radius: 100%;
    width: auto;
}


main .ternario .contacto .contacto_unitario .whatsaap{
    background-color: #0C9021;
}
main .ternario .contacto .contacto_unitario .telegram{
    background-color: #2d58ad;
}
main .ternario .contacto .contacto_unitario .facebook{
    background-color: #1f1f21;
}
main .ternario .contacto .contacto_unitario .gmail{
    background-color: #DF0000;
}


main .cuarto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    width: 100%;
    padding-top: 32px ;
    padding-bottom: 16px;
}
main .cuarto .skills {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .cuarto .skills .todoskills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 18px;
}

main .cuarto .skills .todoskills .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 120px;
    gap: 8px;
}

main .cuarto .skills .todoskills .logo img {
    transition: all 0.6s ease;
    width: 130px;
    max-height: 130px;
    border-radius: 100%;
    padding: 10px;
}

main .cuarto .skills .todoskills .logo img:hover {
    transform: rotateZ(-11deg);
}
cuarto
main .cuarto .skills .todoskills .logo h1 {
    text-align: center;

}

main .cuarto .skills .todoskills .sub_titulo {
    font-size: 26px;
}

main .cuarto .skills .todoskills .sub_titulo::after,
main .cuarto .skills .titulo_aux::after {
    content: "";
    height: 8px;
    width: 0;
    background: var(--color-principal);
    display: block;
    transition: all 300ms;
}

main .cuarto .skills .todoskills .sub_titulo:hover::after,
main .cuarto .skills .titulo_aux:hover::after {
    width: 100%;
    cursor: pointer;
}

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    border-radius: 25px 25px / 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;
}
footer .contenedor{
    width: 80%;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #1f1f21;
    padding: 16px;
    transition: all 0.3s ease;
    &:hover{
        border: 2px solid #5c5c68;
    }
}
footer .contenedor a {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
footer .contenedor a h3{
    margin-top: 10px;
    text-align: center;
    color: #efefef;
}
footer .contenedor a div{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
footer .contenedor a div img{
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #fff;
    max-width: 120px;
}

footer .contenedor a div p {
    font-size: 2em;
    font-weight: 600;
}